h2 a {
  color: #8c1b33;
  text-decoration: none;
  transition: 0.4s;
  position: relative;
}

h2 a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8c1b33;
  transition: width 0.3s ease-in-out;
}

h2 a:hover::before {
  width: 100%;
}
