/* Media query #1 */

@mixin media($media-size, $size) {
  @media screen and (max-width: $media-size) {
    & {
      font-size: $size;
    }
    @if ($media-size <= 320px) {
      &.small {
        color: #1D1D1D;
      }
    }
  }
}

h1 {
  font-size: 20px;
  @include media(960px, 18px);
  @include media(640px, 16px);
  @include media(320px, 14px);
}
